footer{
    background-color: #343a40;
    padding: 40px 0px;
}
footer ul li{
    padding: 5px 0px;
}
.brandName span , .socials span , .newsletter span{

    color:#989999;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.brandName li p , .socials li p , .newsletter li p {
    color:#989999;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
}

.socials li{
    float: left;
}

.brandName , .socials , .newsletter{
    list-style: none;
}
.socials li img{
    height: 40px;
    width: 40px;
    margin: 5px;
}

.brandName img{
    width:35px ;
    height:35px ;
    margin: 10px;

}