.carousel-control-prev-icon {
  height: 30px;
  width: 30px;
  background-color: #343a4070;
}
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  background-color: #343a4070;
}

.carousel-item img {
  display: block;
  width: auto;
  height: auto;

  border-radius: 15px;
}
